.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sample {
  width: 30px;
  height: 30px;
  background-image: url('~/src/assets/images/icons.png');
}
